body[data-pattern=stripes],body [data-pattern=stripes] {
    --rgb: 255 255 255;
    --opacity: .1;
    --size: 6px 6px;
    background-image: linear-gradient(-45deg,rgb(var(--rgb)/var(--opacity))25%,transparent 25%,transparent 50%,rgb(var(--rgb)/var(--opacity))50%,rgb(var(--rgb)/var(--opacity))75%,transparent 75%,transparent 100%);
    background-size: var(--size)
}

body[data-pattern=grid],body [data-pattern=grid] {
    --rgb: 255 255 255;
    --opacity: .04;
    --size: 5rem 5rem;
    background-image: linear-gradient(to right,rgb(var(--rgb)/var(--opacity))1px,transparent 1px),linear-gradient(to bottom,rgb(var(--rgb)/var(--opacity))1px,transparent 1px);
    background-size: var(--size)
}

body[data-pattern=dots],body [data-pattern=dots] {
    --rgb: 255 255 255;
    --opacity: .15;
    --size: 2rem 2rem;
    background-image: radial-gradient(rgb(var(--rgb)/var(--opacity))1px,transparent 1px);
    background-position: 50%;
    background-size: var(--size)
}