.matGrid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 2vmin 2vmin;
  background-position: center;
  /* border-radius: 6px; */
  margin: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.matGrid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 10vmin 10vmin;
  background-position: center;
}

@media (max-width: 768px) {
  .matGrid {
    background-size: 10vmin 10vmin;
    margin: 10px;
  }

  .matGrid:after {
    background-size: 30vmin 30vmin;
  }
}
