body[data-pattern=stripes],body [data-pattern=stripes] {
    --rgb: 255 255 255;
    --opacity: .1;
    --size: 6px 6px;
    background-image: linear-gradient(-45deg,rgb(var(--rgb)/var(--opacity))25%,transparent 25%,transparent 50%,rgb(var(--rgb)/var(--opacity))50%,rgb(var(--rgb)/var(--opacity))75%,transparent 75%,transparent 100%);
    background-size: var(--size)
}