@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: reduce) {
  .cursor,
  .caret {
    animation-play-state: paused;
  }

  .caret {
    opacity: 1 !important;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;

    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

html {
  @apply scroll-smooth antialiased;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-black dark:text-white bg-[#f9f9f9] dark:bg-[#161616] font-x selection:bg-blue-400/90 selection:text-white;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    scroll-behavior: smooth;
  }
}


@layer components {
  .content-wrapper {
    @apply z-[1] w-full px-6 pb-8 pt-8 lg:px-8 lg:pb-16 lg:pt-24;
  }

  .content {
    @apply mx-auto w-full lg:mb-0 lg:max-w-3xl;
  }

  .scrollable-area {
    @apply h-full max-h-dynamic-screen min-h-dynamic-screen overflow-y-auto overflow-x-hidden;
  }

  .horizontal-scroll-area {
    @apply block w-fit min-w-full grow;
  }

  .thumbnail-shadow {
    @apply shadow-[0_0_0_0.5px] shadow-neutral-200 dark:shadow-neutral-800 ring-1 ring-neutral-200/50 dark:ring-neutral-800/50 ring-offset-2 ring-offset-neutral-50 dark:ring-offset-neutral-900;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-transparent bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .mask-gradient {
    mask-image: linear-gradient(
      0deg,
      transparent,
      rgb(255, 255, 255) 16px,
      rgb(255, 255, 255) calc(100% - 16px),
      transparent
    );
  }

  .lab-bg {
    --mask-offset: 100px;
    -webkit-mask: linear-gradient(
        to bottom,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      ),
      linear-gradient(
        to right,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      );
    mask: linear-gradient(
        to bottom,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      ),
      linear-gradient(
        to right,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      );
    /* -webkit-mask: radial-gradient(circle at 50% 50%,transparent 0,#fff calc(100% - var(--mask-offset)),transparent 100%); */
    -webkit-mask-composite: source-in, xor;
    mask-composite: intersect;
  }

  .word-break-word {
    word-break: break-word;
  }

  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .bg-dots {
    @apply bg-white dark:bg-neutral-900 bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px];
  }

  .bg-grid {
    @apply bg-white dark:bg-neutral-900 bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px];
  }
}

.lab-bg {
  --mask-offset: 100px;
  -webkit-mask: linear-gradient(
      to bottom,
      transparent,
      #fff var(--mask-offset) calc(100% - var(--mask-offset)),
      transparent
    ),
    linear-gradient(
      to right,
      transparent,
      #fff var(--mask-offset) calc(100% - var(--mask-offset)),
      transparent
    );
  mask: linear-gradient(
      to bottom,
      transparent,
      #fff var(--mask-offset) calc(100% - var(--mask-offset)),
      transparent
    ),
    linear-gradient(
      to right,
      transparent,
      #fff var(--mask-offset) calc(100% - var(--mask-offset)),
      transparent
    );
  /* -webkit-mask: radial-gradient(circle at 50% 50%,transparent 0,#fff calc(100% - var(--mask-offset)),transparent 100%); */
  -webkit-mask-composite: source-in, xor;
  mask-composite: intersect;
}

/* Hide Cal.com logo */
[data-cal-namespace] a.text-subtle,
.cal-embed a.text-subtle,
a.text-subtle[href*="cal.com"] {
  display: none !important;
}